.count{
    grid-column: 2/2;
    grid-row: 4/4;
    width: 30px;
    color: #fff;
    background-color: #050505;
}
.itemDImg{
    width: 250px ;
    margin-left: 50px;
    grid-column: 1/1;
    grid-row: 2/3;
}
.itemDNombre{
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    grid-row: 1/1;
    grid-column: 2/2;
    font-size: 30px;
}
.desc{
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    grid-column: 2/2;
    grid-row: 2/2;
    font-size: 20px;
}
.itemDPrecio{
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    grid-row: 3/3;
    grid-column: 2/2;
}
.agregarCarrito{
    grid-column: 2/2;
    grid-row: 5/5;
    width: 120px;
    height: 20px;
}
.cardsD{
    background-color: #050505;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
}
.grid{
    display: grid;
    grid-template-columns: 350px 1fr;
    grid-template-rows: 80px 60px 50px 100px 60px 20px;
}