.barraNav{
  background-color: black;
  opacity: 0.9;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  justify-items: center;
}
.titulo{
  margin-left: 9px;
  color: rgb(255, 255, 255);
  text-align: center;
}
ul{
  list-style: none;
}
li{
  display: inline-block;
  color: #fff;
  margin-right: 9px;
  text-decoration: none;
  list-style: none;
}
.contador{
  display: flex;
  justify-content: flex-start;
}
button{
  margin: 10px;
}